.controllItem{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid lightgray;
    margin-bottom: 10px !important;
    padding: 10px;
}

.muibtn{
    width : 20vw;
}


.votedata{
    width:60%;
    
}
